In [54]:
import pandas as pd

Create DataFrame using existing csv file

In [55]:
df = pd.read_csv("data.csv", delimiter=";", header=0)

Check the DataFrame content

In [56]:
df.head(5)

         asin  brand              id  source  stars   timestamp
0  B0014D3N0Q  Downy  R11QPQWAH45REP  amazon      5  1548799200
1  B0014D3N0Q  Downy  R3RFSN6FNTQ4JI  amazon      5  1546898400
2  B0014D3N0Q  Downy   RVEQH20A3EP0A  amazon      3  1546812000
3  B0014D3N0Q  Downy   RC0ONQQQXLWR9  amazon      1  1545516000
4  B0014D3N0Q  Downy  R2OHUO09CNTE09  amazon      5  1543269600

Check consistency of column naming

In [57]:
df.columns

Index([' asin', 'brand', 'id', 'source', 'stars', 'timestamp'], dtype='object')

Transform timestamp field into readable format. Rename "asin" field

In [58]:
df["timestamp"] = pd.to_datetime(df["timestamp"], unit="s")
df = df.rename(columns={" asin": "asin"})

Check if there are any empty cells

In [59]:
df.dtypes

asin                 object
brand                object
id                   object
source               object
stars                 int64
timestamp    datetime64[ns]
dtype: object

In [60]:
df.isnull().sum()

asin         0
brand        0
id           0
source       0
stars        0
timestamp    0
dtype: int64